version: "3.8"
services:
  app:
    build: ./app
    ports:
        - "8080:8080"
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '0.5'